html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  background-color: #3c3939;
  color: #fff;
}

/* Estilos generales */
.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 100vh; 
  margin: 0 auto;
}

.carousel-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.carousel-item img {
  max-width: 100%;
  height: auto;
  margin-right: 2vw;
}

.carousel-content {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center; 
  flex: 1;
}

.carousel-content h1 {
  margin-bottom: 2vh;
}

.carousel-content p {
  margin-bottom: 3vh;
}

.carousel-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.carousel-buttons .carousel-next {
  margin-left: 10vw;
}

.carousel-buttons button {
  padding: 2vh;
  font-size: 2vh;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%; 
  width: 7vw; 
  height: 7vw;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.4vh 0.6vh rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.carousel-buttons button:hover {
  background-color: #0056b3; 
  transform: scale(1.1); 
}

/* Navbar */
.nav {
  display: flex;
  flex-direction: row;
  width: 100vw;
  background-color: #000000;
  justify-content: center;
  gap: 1vw;
  padding: 2vh;
}

.logotipo img {
  height: 7vh;
}

.value {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  border: none;
  padding: 1vh 2vw;
  color: #FFFFFF; 
  font-size: 2vh;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.value:hover,
.value:focus {
  background-color: #A3D9A5; 
  color: #FFFFFF; 
  outline: none;
}

.value:active {
  background-color: #FFEB3B;
  color: #000000; 
}

/* Media Queries para móviles en orientación vertical */
@media (max-width: 768px) {
  .nav {
    flex-direction: column; /* Apilar los elementos en columna */
    align-items: center; /* Centrar los elementos */
    padding: 2vh 0; /* Ajustar el padding */
  }

  .value {
    padding: 1.5vh 4vw; /* Ajustar padding para más espacio entre opciones */
    font-size: 2.5vh; /* Aumentar ligeramente el tamaño de la fuente */
  }

  .logotipo img {
    height: 8vh; /* Ajustar el tamaño del logotipo */
    margin-bottom: 2vh; /* Agregar espacio debajo del logo */
  }
}


.wrap {
  width: 100vw;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, rgb(0 0 0 / .5), rgb(0 0 0 / .5)), url(fondo1.jpg);
  background-size: cover;
  background-position: center;
}

.wrap-text {
  color: #fff;
  text-align: center;
  width: 50vw;
}

.agendar {
  background: transparent;
  padding: 1vh 2vw;
  font-size: 2vh;
  font-weight: 600;
  border: 0.1vw solid rgb(255, 255, 255);
  border-radius: 5vh;
  color: rgb(255, 255, 255);
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
  align-items: center;
}

.agendar a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.agendar i {
  margin-right: 2vw;
}

.agendar::before {
  position: absolute;
  content: '';
  border-radius: 50%;
  display: block;
  width: 20vw;
  height: 20vw;
  left: -5vw;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

.agendar:hover {
  color: #fff;
  border: 0.1vw solid rgb(140, 239, 161);
}

/* Preguntas frecuentes */
.presentacionPreguntas {
  display: flex;
  justify-content: center;
}

.faq-section {
  max-width: 1200px;
  margin: 2vh auto;
  padding: 3vh;
  border-radius: 8px;
}

.faq-section h2 {
  text-align: center;
  font-size: 3vh;
  margin-bottom: 2vh;
  color: #2c3e50;
}

.faq-container {
  display: flex;
  justify-content: space-between;
}

.faq-column {
  width: 48%;
}

.faq-item {
  background-color: #eaf0f6;
  border: 0.1vw solid #d1dce5;
  border-radius: 4px;
  padding: 2vh;
  margin-bottom: 2vh;
  color: #2c3e50;
  font-size: 2vh;
  cursor: pointer;
  position: relative;
  overflow: hidden; 
  transition: background-color 0.3s ease;
}

.faq-item:hover {
  background-color: #d1e0f1;
}

.faq-item.active .faq-answer {
  max-height: 30vh;
}

.image-container {
  display: flex;
  width: 80vw;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.profile {
  padding: 5vh 0;
  text-align: center;
}

.profile-image {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  object-fit: cover;
}

.specialty-list {
  color: #ffffff;
  margin-top: 2vh;
  font-size: 2vh;
}

/* Pie de pagina */
.footer {
  background-color: #000000; 
  color: #FFFFFF; 
  padding: 3vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; 
  align-items: center;
  width: 100vw; 
  position: relative;
  bottom: 0;
}

.footer-left,
.footer-right,
.footer-center {
  text-align: center;
}

.footer-logo {
  height: 7vh; 
}

.footer-left p:first-child {
  font-size: 2.5vh; 
}

.footer-left p:last-child {
  font-size: 2vh; 
}

.footer-center p {
  margin: 0.5vh 0; 
}

.footer-center a {
  color: #FFFFFF; 
  text-decoration: none;
  font-weight: bold;
  margin: 0 1vw;
}

.footer-center a:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  gap: 1vw;
  justify-content: center;
}

.social-icons img {
  width: 3vw; 
  height: 3vw;
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
  .carousel-container {
    flex-direction: column;
    height: auto;
  }

  .carousel-item img {
    max-width: 90%;
    margin-right: 0;
    margin-bottom: 3vh;
  }

  .wrap-text {
    width: 90vw;
  }

  .faq-container {
    flex-direction: column;
  }

  .faq-column {
    width: 100%;
    margin-bottom: 3vh;
  }

  .carousel-buttons {
    flex-direction: column;
    align-items: center;
  }

  .carousel-buttons .carousel-next {
    margin-left: 0;
  }

  .carousel-buttons button {
    width: 10vw;
    height: 10vw;
  }

  .footer {
    grid-template-columns: 1fr;
  }

  .footer-left,
  .footer-center,
  .footer-right {
    text-align: center;
  }

  .footer-right {
    gap: 1vh;
  }
}
