html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  background-color: #3c3939;
  color: #fff;
}

/* Estilos generales */
.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100vh; 
  margin: 0 auto;
}

.carousel-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.carousel-item img {
  max-width: 100%; /* Cambiado para que se ajuste al contenedor */
  height: auto; /* Mantener la relación de aspecto */
  margin-right: 20px;
}

.carousel-content {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center; 
  flex: 1;
}

.carousel-content h1 {
  margin-bottom: 10px;
}

.carousel-content p {
  margin-bottom: 20px;
}

.carousel-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.carousel-buttons .carousel-next {
  margin-left: 15vw;
}

.carousel-buttons button {
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%; 
  width: 50px; 
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.carousel-buttons button:hover {
  background-color: #0056b3; 
  transform: scale(1.1); 
}

/* Navbar */
.nav {
  display: flex;
  flex-direction: row;
  width: 98.7%;
  background-color: #000000;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.logotipo img {
  height: 50px;
}

.value {
  text-decoration: none; /* Quita el subrayado */
  color: inherit;
  background-color: transparent;
  border: none;
  padding: 10px 15px;
  color: #FFFFFF; 
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.value:hover,
.value:focus {
  background-color: #A3D9A5; 
  color: #FFFFFF; 
  outline: none;
}

.value:active {
  background-color: #FFEB3B;
  color: #000000; 
}

.wrap {
  width: 100vw;
  height: 72.4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, rgb(0 0 0 / .5), rgb(0 0 0 / .5)), url(fondo1.jpg);
  background-size: cover;
  background-position: center;
}

.wrap-text {
  color: #fff;
  text-align: center;
  width: 50%;
}

.agendar {
  background: transparent;
  padding: 5px 15px;
  font-size: 17px;
  font-weight: 600;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 25px;
  color: rgb(255, 255, 255);
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
  align-items: center;
}

.agendar a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.agendar i {
  margin-right: 10px;
}

.agendar::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

.agendar:hover {
  color: #fff;
  border: 1px solid rgb(140, 239, 161);
}

/* Preguntas frecuentes */
.presentacionPreguntas {
  display: flex;
  justify-content: center;
}

.faq-section {
  max-width: 1200px;
  margin: 5px auto;
  padding: 20px;
  border-radius: 8px;
}

.faq-section h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #2c3e50;
}

.faq-container {
  display: flex;
  justify-content: space-between;
}

.faq-column {
  width: 48%;
}

.faq-item {
  background-color: #eaf0f6;
  border: 1px solid #d1dce5;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 10px;
  color: #2c3e50;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  overflow: hidden; 
  transition: background-color 0.3s ease;
}

.faq-item:hover {
  background-color: #d1e0f1;
}

.faq-item.active .faq-answer {
  max-height: 300px; 
}

.image-container {
  display: flex;
  width: 80%;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.profile {
  padding-top: 5%;
  padding-bottom: 4%;
  text-align: center;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.specialty-list {
  color: #ffffff;
  margin-top: 10px;
  font-size: 16px;
}

/* Pie de pagina */
.footer {
  background-color: #000000; 
  color: #FFFFFF; 
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; 
  align-items: center;
  width: 97.4%; 
  position: relative;
  bottom: 0;
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.footer-center {
  text-align: center;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; 
}

.footer-logo {
  height: 60px; 
}

.footer-left p {
  margin: 0;
}

.footer-left p:first-child {
  font-size: 1.2em; 
}

.footer-left p:last-child {
  font-size: 1em; 
}

.footer-center p {
  margin: 5px 0; 
}

.footer-center a {
  color: #FFFFFF; 
  text-decoration: none;
  font-weight: bold;
  margin: 0 10px;
}

.footer-center a:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.social-icons img {
  width: 40px; 
  height: 40px;
}

.footer-right p {
  margin: 0;
  font-weight: bold;
  font-size: 1.1em;
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
  .carousel-container {
    flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
    height: auto; /* Ajustar altura */
  }

  .carousel-item img {
    max-width: 90%; /* Aumentar el ancho máximo de la imagen */
    margin-right: 0; /* Quitar margen derecho */
    margin-bottom: 20px; /* Añadir margen inferior */
  }

  .wrap-text {
    width: 90%; /* Ajustar el ancho en móviles */
  }

  .faq-container {
    flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
  }

  .faq-column {
    width: 100%; /* Ajustar el ancho de las columnas */
    margin-bottom: 20px; /* Añadir margen inferior entre columnas */
  }

  .carousel-buttons {
    flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
    align-items: center; /* Centrar los botones */
  }

  .carousel-buttons .carousel-next {
    margin-left: 0; /* Quitar margen izquierdo */
  }

  .carousel-buttons button {
    width: 40px; /* Ajustar el tamaño de los botones */
    height: 40px;
  }

  .footer {
    grid-template-columns: 1fr; /* Cambiar a una sola columna */
  }

  .footer-left,
  .footer-center,
  .footer-right {
    text-align: center; /* Centrar el texto */
  }

  .footer-right {
    gap: 5px; /* Reducir el espacio entre los elementos */
  }
}
